{% extends "shared/_MainLayout.html" %}
{% load static %}

{% block title %}Messenger{% endblock %}

{% block header_ref %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
{% endblock %}

{% block content %}
    <div class="container" style="padding-top: 75px">
        <h2 class="text-center" style="margin-bottom: 25px">Choose a room</h2>

        <div class="row">
            {% for group in groups %}
                <div class="div-link">
                    <a href="{{ group.get_absolute_url }}" class="button-link">{{ group.name }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block footer_ref %}
    <script src="{% static "js/bootstrap.min.js" %}"></script>
{% endblock %}